@media (max-width: 767px) {
    
#navbar {
    height: 80px;
    
}

header{
    position: fixed;
}

#navbar-container {
    flex-direction: column;
    padding: 20px 0;
}



#check{
    display: none;
}
label{
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgb(250, 250, 250);
}
nav ul{
    list-style: none;
    background: var(--cor3);
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;

}
#check:checked ~ ul{
    right: 0;
}

#navbar-items {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-items li:nth-child(2) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

/* Showcase */
#showcase-container {
    padding: 40px;
}

/* Clients */
#clients-container {
    grid-template-columns: repeat(2, 2fr);
}

.client {
    width: 50%;
}

/* Features */
#features-container {
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2) {
    margin: 15px 0;
}

/* Product */
#product-container {
    flex-direction: column;
}

#items {
    width: 90%;
}

.item {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Testimonials */
.testimonial {
    flex-direction: column;
    text-align: center;
}

/* Gallery */

#gallery-container {
    grid-template-columns: 1fr;
}

.gallery-image {
    width: 100%;
}

img{
    max-width: 100%;
}
}



@media (max-width: 1199px) and (min-width: 768px) {
    
    #navbar {
        height: 80px;
        
    }
    
    header{
        position: fixed;
    }
    
    #navbar-container {
        flex-direction: column;
        padding: 20px 0;
    }
    
    
    
    #check{
        display: none;
    }
    label{
        font-size: 3em;
        position: fixed;
        top: 5px;
        right: 15px;
        color: rgb(250, 250, 250);
    }
    nav ul{
        list-style: none;
        background: var(--cor3);
        height: 100vh;
        position: fixed;
        top: 60px;
        right: -100%;
        width: 100%;
        transition: all 0.5s;
    
    }
    #check:checked ~ ul{
        right: 0;
    }
    
    #navbar-items {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    
    #navbar-items li:nth-child(2) {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }
    
    /* Showcase */
    #showcase-container {
        padding: 40px;
    }
    
    /* Clients */
    #clients-container {
        grid-template-columns: repeat(2, 2fr);
    }
    
    .client {
        width: 50%;
    }
    
    /* Features */
    #features-container {
        grid-template-columns: 1fr;
    }
    
    #features-container .feature:nth-child(2) {
        margin: 15px 0;
    }
    
    /* Product */
    #product-container {
        flex-direction: column;
    }
    
    #items {
        width: 90%;
    }
    
    .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    /* Testimonials */
    .testimonial {
        flex-direction: column;
        text-align: center;
    }
    
    /* Gallery */
    
    #gallery-container {
        grid-template-columns: 1fr;
    }
    
    .gallery-image {
        width: 100%;
    }
    
    img{
        max-width: 100%;
    }
    }